venv/**
gaussian_splatting/data/
gaussian_splatting/**/results/
/datasets/**
/outputs/**
/.pytest_cache
.vscode
__pycache__
Hierachical-Localization/**
gaussian_splatting/data/
Hierarchical-Localization/
